<h1 class="text-center jumbotron">{{subredditTitle}}</h1>

<div *ngFor='let post of posts' class="panel panel-danger">
  <a routerLink='/subreddits/{{subredditId}}/{{post.$key}}'><h2 class="panel-body">{{post.postTitle}}</h2></a>
</div>
<h3 class="text-center">Add a new Post:</h3>
<div class="form-group">
  <label>New Post Title:</label>
  <input #postTitle type="text" class="form-control">
  <label>Content:</label>
  <textarea #postContent type="text" class="form-control"></textarea>
</div>
<button type="button" class="btn btn-primary" (click)='formPostSubmit(postTitle.value, postContent.value); postTitle.value=""; postContent.value="";'>Post</button>
