<h1 class="text-center jumbotron">{{selectedPostSubreddit}}</h1>
<div class="well">
  <h2>{{selectedPost.postTitle}}</h2>
  <hr>
  <h3>{{selectedPost.description}}</h3>
</div>
<h3 class="text-center">Comments:</h3>
<div *ngFor="let comment of selectedPostComments | async" class="panel panel-danger">
  <div class="panel-body">
    {{comment.$value}}
  </div>
</div>
<div class="form-group">
  <label>Add comment</label>
  <input #commentInput type="text" class="form-control">
</div>
<button type="button" class="btn btn-primary" (click)='formSubmit(commentInput.value); commentInput.value="";'>Post Comment</button>
